<!DOCTYPE html>
<html>
<head>

  <title>MapTime</title>
  <!-- Latest compiled and minified CSS -->
  <%= javascript_include_tag "https://www.google.com/jsapi"%>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js"%>
  <%= stylesheet_link_tag  "https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.css"%>
  
</head>

<body>


    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>


  <%= yield %>
</body>
</html>