<!DOCTYPE html>
<html>
<head>

  <title>MapTime</title>
  <!-- Latest compiled and minified CSS -->
  <%= javascript_include_tag "https://www.google.com/jsapi"%>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js"%>
  <%= stylesheet_link_tag  "https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.css"%>
  
</head>

<body>
  <div class="navigation">
    <div class="navigation-wrapper">
      <a href="" class="navigation-menu-button">MENU</a>
      <ul class="navigation-menu" style="
      padding-top: 10px;">
      <li class="nav-link logo">
          <%= link_to "Map Time", users_path, { 'data-no-turbolink' => true } %> 
        </li>
        <li class="nav-link">
         <%= link_to "About", about_path %>
        </li>
        <li class="nav-link">
          <%= link_to "Contact  Us", contact_path %>
        </li>
        <li class="nav-link">
           <%= link_to "Data", download_path %>
        </li>
      </ul>
    </div>
    </div>

    <div>
      <div id="notice"><%= flash[:notice] %></div>
      <div id="alert"><%= flash[:alert] %></div>
    </div>


  <%= yield %>
</body>
</html>